/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-secondary: rgba(3, 149, 229, 0.4);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
    --clr-ui-dark-blue: #141f64;
}


/*
=============== 
Global Styles
===============
*/

html {
    scroll-behavior: smooth;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
    /* z-index: -110; */
    width: 100%;
}

ul {
    list-style-type: none;
}

article a {
    color: var(--clr-grey-3);
    text-decoration: none;
}


/* img:not(.logo) {
    width: 100%;
}

img {
    display: block;
} */

h1,
h2,
h3,
h4 {
    /* letter-spacing: var(--spacing); */
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

ul {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

.no-webp .experience {
    min-height: 50vh;
    background: url('../images/office-932926_1920.jpg') center/cover no-repeat;
    margin-bottom: 20px;
}

.webp .experience {
    min-height: 50vh;
    background: url('../webp/office-932926_1920.webp') center/cover no-repeat;
    margin-bottom: 20px;
}

.no-webp .portfolio {
    min-height: 50vh;
    background: url('../images/sketchbook-6076789_1920.jpg') center/cover no-repeat;
    margin-bottom: 20px;
}

.webp .portfolio {
    min-height: 50vh;
    background: url('../webp/sketchbook-6076789_1920.webp') center/cover no-repeat;
    margin-bottom: 20px;
}

.no-webp .diplomes {
    min-height: 50vh;
    background: url('../images/books-1702790_1920.jpg') center/cover no-repeat;
    margin-bottom: 20px;
}

.webp .diplomes {
    min-height: 50vh;
    background: url('../webp/books-1702790_1920.webp') center/cover no-repeat;
    margin-bottom: 20px;
}

.webp .programmation {
    min-height: 50vh;
    background: url('../webp/binary-code-475664_1920.webp') center/cover no-repeat;
    margin-bottom: 20px;
}

.no-webp .programmation {
    min-height: 50vh;
    background: url('../images/binary-code-475664_1920.jpg') center/cover no-repeat;
    margin-bottom: 20px;
}

.no-webp .software {
    min-height: 50vh;
    background: url('../images/pen-4337524_1920.jpg') center/cover no-repeat;
    margin-bottom: 20px;
}

.webp .software {
    min-height: 50vh;
    background: url('../webp/pen-4337524_1920.webp') center/cover no-repeat;
    margin-bottom: 20px;
}


/* Prealoader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 9999;
    text-align: center;
}

.preloader.disapear {
    transition: opacity 1s ease-out;
    opacity: 0;
    animation: disapear 1.5s ease-in;
}

@keyframes disapear {
    to {
        height: 0;
    }
}

.preloader-icon {
    position: relative;
    top: calc(50% - 100px);
    /* (Moitier de la page - la moitier de la hauteur de l'element) */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: shake 1.5s infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, -1px) rotate(0deg);
    }
    10% {
        transform: translate(1px, -3px) rotate(-1deg);
    }
    20% {
        transform: translate(1px, -5px) rotate(-3deg);
    }
    30% {
        transform: translate(1px, -7px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -9px) rotate(1deg);
    }
    50% {
        transform: translate(1px, -11px) rotate(3deg);
    }
    60% {
        transform: translate(1px, -9px) rotate(0deg);
    }
    70% {
        transform: translate(1px, -7px) rotate(-1deg);
    }
    80% {
        transform: translate(1px, -5px) rotate(-3deg);
    }
    90% {
        transform: translate(1px, -3px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -1px) rotate(-1deg);
    }
}


/* Correction de bug BootStrap */

.card-deck {
    margin: 0px;
}


/* Effet animation de card qui se dessine  */

@-webkit-keyframes pulse {
    from {
        box-shadow: 0 0 0 0 rgba(3, 149, 229, 0.4);
    }
    to {
        box-shadow: 0 0 0 15px rgba(3, 149, 229, 0);
    }
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0 rgba(3, 149, 229, 0.4);
    }
    to {
        box-shadow: 0 0 0 15px rgba(3, 149, 229, 0);
    }
}

.highlight::before,
.highlight::after {
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    visibility: hidden;
    border-radius: 2px;
}

.highlight::before {
    border-top: 3px solid #0552b5;
    border-right: 3px solid #0552b5;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
    top: 0;
    left: 0;
}

.highlight::after {
    border-left: 3px solid #0552b5;
    border-bottom: 3px solid #0552b5;
    bottom: 0;
    right: 0;
    transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
}

.highlight {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    /* pointer-events: auto; */
    /* cursor: pointer; */
    /*     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.card.highlight {
    /* Enlever la main apres l'animation */
    pointer-events: none;
}

.card a {
    /* Prendre la main apres l'animation */
    pointer-events: auto;
}

.highlight:hover {
    -webkit-animation: pulse 1s ease-out 0.4s;
    animation: pulse 1s ease-out 0.4s;
    color: #0552b5;
}

.highlight:hover:before,
.highlight:hover:after {
    width: 100%;
    height: 100%;
    visibility: visible;
}

.highlight:hover:before {
    transition: width 0.1s ease, height 0.1s ease 0.1s;
}

.highlight:hover:after {
    transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}


/*  global classes */

.btnHome {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btnHome:link {
    text-decoration: none;
}

.btnHome:hover {
    color: var(--clr-white);
    background: var(--clr-black);
}

.btnHome-white {
    color: var(--clr-white);
    border-color: var(--clr-white);
    border-radius: 0;
    padding: 0.5rem 1rem;
}

.btnHome:hover {
    background: var(--clr-white);
    color: black;
    text-decoration: none;
}


/* section */

.section {
    padding-top: 3em;
    padding-bottom: 5rem;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}


/*
=============== 
Scroll
===============
*/


/* navbar */

nav {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    top: 10px;
    width: 100%;
    height: 70px;
    line-height: 60px;
    background: var(--clr-white);
    background-color: rgba(255, 255, 255, 0.2)!important;
}

.textDeco {
    margin-top: 20px;
    color: white;
}

.dropdown-content {
    display: none;
}


/* fixed nav */

.fixed-nav {
    position: fixed;
    padding-left: 20px;
    top: 0;
    left: 0;
    width: 100%;
    background: #f4f4f4!important;
    box-shadow: var(--light-shadow);
    opacity: 1;
    z-index: 99999;
}

.fixed-nav .links a {
    color: var(--clr-grey-1);
}

.fixed-nav .links a:hover {
    color: var(--clr-secondary);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
}

.nav-toggle:hover {
    color: var(--clr-secondary);
}

.nav-toggle:active,
.nav-toggle:focus {
    outline: none;
}

.logo {
    height: 50px;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 200px;
}

.links a {
    background: var(--clr-white);
    color: var(--clr-grey-5);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-weight: bold;
    padding: 0.75rem 0;
}

.links a:hover {
    color: var(--clr-grey-1);
}


/* hero */

.no-webp .home {
    min-height: 100vh;
    background: url(../images/hero-bcg.jpeg) center/cover no-repeat;
    /* filter: saturate(150%); => BUG*/
}

.webp .home {
    min-height: 100vh;
    background: url(../webp/hero-bcg.webp) center/cover no-repeat;
    /* filter: saturate(150%); => BUG */
}

.banner {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
}

.container h1 {
    color: var(--clr-white);
    /* text-transform: uppercase; */
}

.container h2 {
    margin-bottom: 50px;
    color: var(--clr-white);
    /* text-transform: uppercase; */
}

.container p {
    color: var(--clr-white);
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
    .container p {
        max-width: 40rem;
    }
}

@media screen and (max-width: 800px) {
    .no-webp .home {
        display: inline-block;
        position: relative;
        width: 100%;
        height: auto;
        background: url(../images/hero-bcg.jpeg) cover;
        background-repeat: no-repeat;
        background-position: left;
        background-size: 300%;
        /* filter: saturate(150%); */
    }
    .webp .home {
        display: inline-block;
        position: relative;
        width: 100%;
        height: auto;
        /* min-height: 100vh; */
        background: url(../webp/hero-bcg.webp) cover;
        background-repeat: no-repeat;
        background-position: left;
        background-size: 300%;
        /* filter: saturate(150%); */
    }
    nav {
        background-color: #2d3c40!important;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-left: 20px;
        padding-right: 20px;
        height: 70px;
        padding-top: 10px;
        top: 0;
    }
    .fixed-nav {
        position: fixed;
        padding-left: 20px;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #2d3c40!important;
        box-shadow: var(--light-shadow);
    }
    .dropdown-content {
        background-color: #2d3c40!important;
        position: fixed;
        top: 70px;
        font-size: 1.5em;
        width: 100%;
        height: 180px;
        padding-left: 20px;
        padding-top: 20px;
    }
    .dropdown-content a {
        color: white;
    }
    .nav-center {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .nav-center {
        width: 90vw;
        max-width: 601px;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    .nav-lang {
        width: 90vw;
        max-width: 150px;
        margin-left: 40px;
        margin-right: 10px;
        padding-top: 10px;
    }
    .flag:link {
        text-decoration: none;
    }
    .scroll-link:link {
        text-decoration: none;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .nav-header {
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .flag {
        width: 25px;
        height: 25px;
    }
    .links-container {
        height: auto !important;
    }
    .links {
        display: flex;
    }
    .links a {
        background: transparent;
        color: var(--clr-white);
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        display: block;
        transition: var(--transition);
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;
    }
    .links a:hover {
        color: var(--clr-white);
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}


/* sections and title */

.title h2 {
    text-align: center;
    text-transform: uppercase;
    color: #696969;
    font-family: 2rem;
}

.title h3 {
    text-align: left;
    text-transform: uppercase;
    color: #696969;
    font-size: 1.25rem;
}

.title h4 {
    text-align: left;
    text-transform: uppercase;
    color: #696969;
    font-size: 1rem;
}

.title span {
    color: var(--clr-secondary);
}

#about,
#services,
#tours {
    height: 100%;
}

#services {
    background: var(--clr-white);
}

footer {
    background: var(--clr-grey-1);
    padding: 5rem 1rem;
}

footer p {
    color: var(--clr-white);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    margin-bottom: 0;
}

.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--clr-secondary);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    color: var(--clr-white);
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    /* z-index: -100; */
}

.top-link:hover {
    text-decoration: none;
    color: var(--clr-ui-dark-blue);
}

.show-link {
    visibility: visible;
    /* z-index: 100; */
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


/* Carte de la section A propos */

.cardDeck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardPerso {
    width: 90vw;
    margin: 4rem auto;
    min-height: 500px;
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
}

.cardPerso p {
    position: relative;
    top: 2px;
    min-height: 100px;
}

.cardPerso ul {
    margin-bottom: 2rem;
    font-size: 18px;
    padding: 0 2rem;
    color: var(--clr-grey-3);
}

.cardPersoDiplome {
    width: 90vw;
    margin: 4rem auto;
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    font-size: 1em;
    text-align: left;
}

.cardPersoProgrammation {
    width: 90vw;
    margin: 4rem auto;
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    font-size: 1em;
    text-align: left;
}

.cardPerso img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.cardPersoDiplome img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.cardPersoProgrammation img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card-1 {
    max-width: 600px;
    text-align: center;
    padding-bottom: 3.5rem;
}

.card-Diplome {
    max-width: 1000px;
    text-align: center;
    padding-bottom: 3.5rem;
}

.card-2 {
    max-width: 400px;
    text-align: center;
    padding-bottom: 3.5rem;
}

.no-webp .card-2 .cardheader {
    height: 200px;
    background: url('../images/books-1702790_640.jpg') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-bottom: 20px;
}

.webp .card-2 .cardheader {
    height: 200px;
    background: url('../webp/books-1702790_640.webp') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-bottom: 20px;
}

.no-webp .card-2 .cardheader2 {
    height: 200px;
    background: url('../images/the-conference-3248255_640.jpg') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-bottom: 20px;
}

.webp .card-2 .cardheader2 {
    height: 200px;
    background: url('../webp/the-conference-3248255_640.webp') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-bottom: 20px;
}

.no-webp .card-2 .cardheader3 {
    height: 200px;
    background: url('../images/pen-4337524_640.jpg') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-bottom: 20px;
}

.webp .card-2 .cardheader3 {
    height: 200px;
    background: url('../webp/pen-4337524_640.webp') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-bottom: 20px;
}

.no-webp .card-2 .cardheader4 {
    height: 200px;
    background: url('../images/binary-code-475664_640.jpg') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-bottom: 20px;
}

.webp .card-2 .cardheader4 {
    height: 200px;
    background: url('../webp/binary-code-475664_640.webp') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-bottom: 20px;
}

.no-webp .card-2 .cardheader5 {
    height: 200px;
    background: url('../images/sketchbook-6076789_640.jpg') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-bottom: 20px;
}

.webp .card-2 .cardheader5 {
    height: 200px;
    background: url('../webp/sketchbook-6076789_640.webp') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-bottom: 20px;
}

.card-2 h1 {
    font-size: 30px;
}

.card-2 p {
    margin-bottom: 2rem;
    font-size: 18px;
    padding: 0 2rem;
    color: var(--clr-grey-3);
}

.no-webp .card-1 .cardheader {
    height: 300px;
    background: url('../images/office-932926_640.jpg') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.webp .card-1 .cardheader {
    height: 300px;
    background: url('../webp/office-932926_640.webp') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.webp .card-1 .cardheader2 {
    height: 300px;
    background: url('../webp/phone.webp') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.no-webp .card-1 .cardheader2 {
    height: 300px;
    background: url('../images/phone.jpg') center/cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.card-1 img {
    border: 5px solid var(--clr-white);
    margin-top: -65px;
    margin-bottom: 0.5rem;
}

.card-1 h1 {
    font-size: 30px;
    text-align: center;
}

.card-1 p {
    margin-bottom: 2rem;
    font-size: 18px;
    padding: 0 2rem;
    color: var(--clr-grey-3);
}

.btn2 {
    position: relative;
    bottom: 0px;
    padding: 1rem 2rem;
    letter-spacing: 1.6px;
    font-size: 1rem;
    color: var(--clr-white);
    background: var(--clr-ui-dark-blue);
    border-radius: var(--radius);
    border-color: transparent;
    text-transform: uppercase;
    transition: var(--transition);
}

.btn2:hover {
    color: white;
    text-decoration: none;
}


/* .card-body {
    cursor: pointer;
} */