.left{
margin-left:50px;
margin-right:50px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.centerText {
	text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.kleinImg {
  height: auto;
  max-width: 50%
}